<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TwitCubed</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div id="content">
           <%- body %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/deps/Three.js"></script>
    </body>
</html>

