<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Just Join!</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div id="wrapper">
            <header>
                <nav>
                    <ul>
                        <% if (typeof user === 'object' && user.isAuthed()) { %>
                            <li>Hi <%= user.getDisplayName() %>!</li>
                        <% } else { %>
                            <li><a href="/join">Join the race today!</a></li>
                        <% } %>
                    </ul>
                </nav>
                <h1><a href="/">Just Join!</a></h1>
            </header>
            <div id="content">
               <%- body %>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/message-handler.js"></script>

        <script>

            window.onload = function() {
                var mHandler = new MessageHandler();

                mHandler.connect(function() { 
                    console.log('on connect cb');
                    mHandler.send('pageId', '/');
                });

                var teams = ['red', 'blue'];
                for (var j in teams) {
                    var team = teams[j];
                    (function(_team) {
                        mHandler.on(_team+'Tweets', function(data) {
                            if (data.results.length == 0) {
                                return;
                            }
                            var domStr = "";
                            for (var i = 0; i < data.results.length; i++) {
                                domStr += "<div>"+data.results[i].text+"</div>";
                                $("#"+_team+" .tweets").html(domStr);
                            }
                        });
                    })(team);
                }

                mHandler.on('teamNumbers', function(data) {
                    $("#red a").html(data.red);
                    $("#blue a").html(data.blue);
                    $("#totalCount").html(parseInt(data.red) + parseInt(data.blue));
                });
            };

        </script>
    </body>
</html>

