<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TwitCubed</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
           <%- body %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <!--<script src="/socket.io/socket.io.js"></script>-->
        <script src="/js/deps/Three.js"></script>
        <script src="/js/deps/RequestAnimationFrame.js"></script>

        <script src="/js/input.js"></script>
        <script src="/js/tweet_model.js"></script>
        <script src="/js/scene_manager.js"></script>

        <script>
            $(function() {

                var mousePos = new THREE.Vector3(0, 0, 1);

                Input.captureKeys([
                    'LEFT_ARROW',
                    'RIGHT_ARROW',
                    'UP_ARROW',
                    'DOWN_ARROW'
                ]);
                Input.bindKeys(window);

                var sceneManager = new SceneManager({
                    "width": 900,
                    "height": 600
                });
                sceneManager.init();
                sceneManager.setMousePosition(mousePos);
                sceneManager.setCameraPosition(300, -200, 700);
                sceneManager.setCameraTarget(300, -200, 1);

                $("body").mousemove(function(e) {
                    e.preventDefault();
                    mousePos.x = e.clientX / sceneManager.getWidth() * 2 - 1;
                    mousePos.y = -(e.clientY / sceneManager.getHeight()) * 2 + 1;
                    //console.log(e.clientX, e.clientY, mousePos.x, mousePos.y);
                    sceneManager.setMousePosition(mousePos);
                });

                $.get("/tweets", {}, function(response) {
                    console.log(response);
                    if (response.success == false) {
                        alert(response.message);
                        return;
                    }

                    console.log(response.tweets.length);

                    for (var i = 0; i < response.tweets.length; i++) {
                        var data = response.tweets[i];
                        var tweet = sceneManager.addTweet(data);
                        var row = Math.floor(i / 8);
                        var col = i % 8;
                        tweet.setPosition(col*200, (-row)*225, 1);

                        var vx = Math.random() / 50;
                        var vy = Math.random() / 50 + 0.1;
                        var ry = Math.random() / 100;
                        tweet.setVelocity(vx, vy, 0);
                        tweet.setRotationVelocity(0, ry, 0);
                    }

                    //sceneManager.animate();
                    animate();

                }, "json");

                animate = function() {
                    requestAnimationFrame(animate);
                    sceneManager.render();
                }
            });
        </script>
    </body>
</html>

